body,ul,li,div,ol,img,p,a,input,label,table,h1,h2,h3,h4,h5,h6,dl,dt,dd,span,tr,td,i,em,strong,font,form,big,small,select,textarea,caption{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", Arial, SimSun;
}
img,input{
    border: none;
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.header{
    width: 100%;
    min-width: 1364px;
    height: 140px;
    box-shadow: 0 3px 1px rgba( 0,0,0,.5);
}
.w1000{
    width: 100%;
    height: 40px;
   background-color: #ff6600;
}




































































































































































































































































































